* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: relative;
  margin: 0;
  overflow-y: hidden;
}

.wrapper.darkMode {
  background: #111;
}

.content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.content::-webkit-scrollbar {
  width: 0;
}

.container {
  width: 40%;
  margin: auto;
  text-align: center;
  margin-top: 90px;
  font-family: "Montserrat", sans-serif;
}

.container h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}

.wrapper.darkMode .container h2 {
  color: #fff;
}

.lightButton {
  position: absolute;
  top: 20px;
  right: 40px;
}

.lightButton i {
  font-size: 40px;
  cursor: pointer;
}

.form {
  width: 100%;
  margin: auto;
  background: #f2f2f2;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  column-gap: 10px;
}

.wrapper.darkMode .form {
  background: #222;
}

.form input {
  width: 90%;
  border: none;
  padding: 10px 12px;
  border-radius: 0px;
  transition: all 300ms ease-in-out;
  font-size: 16px;
}

.wrapper.darkMode .form input {
  background: #222;
  color: #fff;
  border-bottom: 1px solid #555;
  border-radius: 0px;
}

.form input:focus {
  outline: none;
  padding-left: 18px;
}

.wrapper.darkMode .form input:focus {
  outline: none;
}

.form button {
  border: none;
  padding: 12px 22px;
  background: purple;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.todolist {
  width: 100%;
  margin: 40px auto;
}

.todoitem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.wrapper.darkMode .todoitem {
  background: #222;
}

.todoitem h5 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
  border-radius: 10px;
  margin-bottom: 0px;
}

.wrapper.darkMode .todoitem h5 {
  color: #fff;
}

.todoitem div {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.todoitem div i {
  background: #d7d7d7;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.todoitem div i.hasEdit {
  background: #feffd9;
}

.todoitem div i.hasDelete {
  background: #fbcebe;
}
